@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;1,300;1,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@font-face{
    font-family: "League";
    src: url(/fontes/LeagueSpartan-Bold.otf);
}

.titulo2{
    font-family: 'Fira Sans';
    font-weight: lighter;
}

.faq_question {
    font-size: 2rem;
}

.logo{
	width:100%;
}
.faq{
    text-align: end;
}
.faq_answer{
    font-size: 1.2rem;
}

.faq_answer_container {
    display: none;
    text-align: end;  
}

.titulo-FAQ{
    text-align: end !important;
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: black !important;
    font-family:'Nunito Sans', sans-serif;
    font-size: 1.5rem;
}

.pergunta {
    text-align: end !important;
    color: blue;
}
.resposta {
    color: black;
}

  @media (min-width: 1000px){
  
    .logo{
      width: 70% !important;
    }
    
  }

@media (max-width: 1000px){
	.icon img{
		display: none;
	}
	.logo{
      width: 70% !important;
    }
}