.icones{
  display: inline; 
}

.videos{
  padding: 0.8cm;
}

.container-fluid{
  position: relative;
  text-align: center;
  color: black;
}
.text{
  background-color: black;
  position: absolute;
}

.black{
  color: black;
}
.branco{
  color: whitesmoke;
}
.meio{
  text-align: center;
  justify-content: center;
  align-items: center;
}

#perfil{
  background-color: aquamarine;
  display: flexbox;
  width: 200px;
  text-align: center;
}
.fundo{
  background-color: rgba(0, 119, 182);
}

.tam14{
  font-size: 18px;
}
.apostofro{
  font-size: 30px;
}
.carousel-item iframe{
  width: 100%;
}

@media (min-width: 1024px){
  .icones{
    display: none;
  }
  .titulo{
    margin-top: 0px;
  }

  .carousel-item iframe{
    width: 310px;
    height:315px;
  }
}

@media (max-width: 1025px){
  .familia{
      display: none;
  }
  .carousel-item iframe{
    width: 100%;
  }
}

@media (max-width: 769px){
  .carousel-item iframe{
    width: 100%;
    height:315px;
  }
  #nome_PainelInicial{
    font-size: 18pt;
  }
  .logoImg{
    width: 50%;
  }
  .start{
    font-size: 20pt;
  }
  .dep{
    font-size: 16pt;;
  }
}

@media (min-width: 1000px){
  .carousel-item iframe{
    width: 100%;
    height:720px;
  }
  #nome_PainelInicial{
    font-size: 3rem;
  }
  .logoImg{
    width: 20%;
  }
  .start{
    font-size: 2.7rem;
  }
  .logo{
    width: 70% !important;
  }
  
}
