@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/*MODALS*/
.black{
	color: black;
}
.azulEscuro{
	color: #001F61;
}
.azulEscuroFundo{
	background-color: #001F61;
}
.size1{
	justify-content: center;
	font-size: 20px;
}
.size2{
	font-size:20px;
	text-align: start;
	color: #222;
}
.padding_top{
	padding-top: 10px;
	padding-bottom: 5px;
}
.meio{
	text-align: center;
	justify-content: center;
}
.inicio{
	text-align: start;
}
.profile{
	align-content: center; 
	justify-content: center;
	text-align: center;
}
.profile .fundo {
	border-style: solid;
	border-radius: 100%;
	width: 500px;
	height: 500px;
}

.checkbox{
	position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 30px;
  background-color: #eee;
  border-radius: 0%;
}
.text_destaque{
	background:rgba(0,31,97);
	color: rgba(240,247,244,0.9);
	text-decoration: solid;	
	text-emphasis: bold;
	padding-bottom: 20px;
} 	

.course {
	background-color: #EDF4ED;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
}

#content-wrapper{
	overflow: hidden;
}
.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	width: 20rem;
}



.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
}

/* SOCIAL PANEL CSS */
.social-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
	transform: translateX(-10px);
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #001F61;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Muli';
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.social-panel button.close-btn:focus {
	outline: none;
}

.social-panel p {
	background-color: #001F61;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 235px;
}

.social-panel p i {
	margin: 0 5px;
}

.social-panel p a {
	color: #FF7500;
	text-decoration: none;
}

.social-panel h4 {
	margin: 20px 0;
	color: #97A5CE;	
	font-family: 'Muli';	
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
}

.social-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-panel ul li {
	margin: 0 10px;
}

.social-panel ul li a {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color: #001F61;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.social-panel ul li a:hover {
	border-color: #FF6A00;
	box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
	border-radius: 26.5px;
	background-color: #001F61;
	border: 1px solid #001F61;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #001F61;
}

.floating-btn:focus {
	outline: none;
}

.floating-text {
	background-color: #001F61;
	border-radius: 10px 10px 0 0;
	color: #fff;
	font-family: 'Muli';
	padding: 7px 15px;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	z-index: 998;
}

.floating-text a {
	color: #FF7500;
	text-decoration: none;
}

.prox{
	background-color: rgba(0, 0,0 , 0.4);
}
@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}

.inner{
background: #001F61;
border-radius: 15px;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  padding: 0;
  transition: opacity .5s;
}

.inner:hover{
	opacity: .9;
  transition: opacity .5s;
}
.inner h1{
	color: white;
	text-align: center;
	font-size: 40px;
}


.inner .fa-lock{
	color: white;
	text-align: center;
	font-size: 100px;
	align-self: center;
}

#btn_none{
	margin: 20px;
	display: none;
}

#btn_none.aparecer{
	display: inline-block;
}

.btn_tarefa{
	border: none;
	background-color:white;
	width:30px;
  height: 30px
}

/*BOTAO DE CHECADO*/
.round {
	position: relative;
  }
  
  .round label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	left: 0;
	position: absolute;
	top: 0;
	width: 28px;
  }
  
  .round label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 7px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 12px;
  }
  
  .round input[type="checkbox"] {
	visibility: hidden;
  }
  
  .round input[type="checkbox"]:checked + label {
	background-color: #66bb6a;
	border-color: #66bb6a;
  }
  
  .round input[type="checkbox"]:checked + label:after {
	opacity: 1;
  }


  .modal-header{
	  background-color: #001F61;
  }
  .modal-title{
	  color: rgba(240,247,244,0.9)	;
  }
  .fa-times-circle{
	  color: white;
  }
  .titulo{
	  color: black;
	  font-weight: bolder;
	  font-size: large;
  }

  .l,.endereco, .telefone{
	  color: black;
  }

  .btnTab{
	  border: none;
	  background-color: rgba(0, 0, 0, 0.0);
  }


  .shadow-drop-2-tl {
	-webkit-animation: shadow-drop-2-tl 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-tl 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes text-focus-in {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  

 @-webkit-keyframes shadow-drop-2-tl {
	0% {
	  -webkit-transform: translateZ(0) translateX(0) translateY(0);
			  transform: translateZ(0) translateX(0) translateY(0);
	  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
	  -webkit-transform: translateZ(50px) translateX(12px) translateY(12px);
			  transform: translateZ(50px) translateX(12px) translateY(12px);
	  -webkit-box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
			  box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
	}
  }
  @keyframes shadow-drop-2-tl {
	0% {
	  -webkit-transform: translateZ(0) translateX(0) translateY(0);
			  transform: translateZ(0) translateX(0) translateY(0);
	  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
			  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	100% {
	  -webkit-transform: translateZ(50px) translateX(12px) translateY(12px);
			  transform: translateZ(50px) translateX(12px) translateY(12px);
	  -webkit-box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
			  box-shadow: -12px -12px 20px -12px rgba(0, 0, 0, 0.35);
	}
  }
  

#party-js-canvas{
	z-index: 99999999;
}

.quebra{
	display: none;
}
/*BLOQUEAR*/
.embaixo{
	position: relative;
}
.cardProx_overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(277, 277, 277, 0.6);
	border-radius:15px;
	color: #03153B;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s ;
}
.cardProx_overlay > *{
	transform: translateY(20px);
	transform:transform 0.25s;
}
.cardProx_overlay:hover{
	opacity: 1;
}
.cardProx_overlay:hover > * {
	transform: translateY(0);

}

.tem_que_aparecer{
	display: none;
}

#logo{
	width:70%;
} important

.sidebar-brand-icon{
	align-items: center;
}

/*esconder etapas futuras*/

.esconder{
	display: none;
}

.aparecer{
	display: inline;
}

.tam100{
	max-width: 100%;
	text-align: center;
	justify-content: center;
}

.some{
	display: none;
}

@media (max-width: 900px){
	#abelha{
		display: none;
	}
	#titulo_principal{
		display: none;
	}
	/*.descricao{
		display: none;
	} */
	p.card-text{
		display: none;
		text-align: center;
	}
	div.course-info{
		display: none;
		align-items: center;
		align-content: center;
	}
	.esconder{
		display: none;
	}
	h2.black{
		display:none;
	}
	
	h1.black.inicio{
		font-size: xx-large;
		text-align: center;
		margin-top: 20px;
	}
	h2{ 
		text-align: center; 
		font-size: x-large;
	} important
	
	p.black.inicio{
		text-align: center;
	}
	.tem_que_sumir{
		display: none;
	}
	div.cardProx_overlay h3{
		display: none;
	}
	#nada{
		font-size: xx-large;
	}
	h1.h3.mb-0.text-gray-800{
		display: none;
	} important
	#inicio_nome{
		margin: 0;
	}
	.tem_que_aparecer{
		display: contents;
	}
}
@media (max-width: 800px){
	.some{
		display:contents;
		font-size: x-large;
		text-align: center;
	}
	h2{
		display: none;
	}
	.quebra{
		display: inline;
	}
}